@model Library.Web.Models.Book.CreateBookViewModel;

@{
	ViewData["Title"] = "Add Book";

	<link href="~/css/book/addbook.css" rel="stylesheet" />
}

<br />

<h4 style="color:grey; font-size:larger">Add New Book</h4>

<hr />

<main>
	<form method="post">
		<table>
			<tr>
				<td colspan="5">
					<input name="title" placeholder="Book Title" asp-for="Title" class="form-control" style="margin: 5px 0 5px 0"/>					
					<span asp-validation-for="Title" class="text-danger"></span>

					<input name="description" placeholder="Description" asp-for="Description" class="form-control" style="margin: 5px 0 5px 0" />
					<span asp-validation-for="Description" class="text-danger"></span>
				</td>
				<td></td>
			</tr>
			<tr>
				<td valign="top" height="300px" width="320px">
					<div>
						<select name="authors" asp-for="Authors" id="authors" multiple="multiple" asp-items="ViewBag.Authors">
							<optgroup label="Choose Authors" style="color:darkcyan;">
							</optgroup>
						</select>
					</div>
					<div>
						<span asp-validation-for="Authors"></span>
					</div>
					<div>
						<select name="publishers" asp-for="Publishers" id="publishers" multiple="multiple" asp-items="ViewBag.Publishers">
							<optgroup label="Choose Publisher" style="color:darkcyan;">
							</optgroup>
						</select>
					</div>
					<div>
						<span asp-validation-for="Publishers"></span>
					</div>

					<div>
						<select name="languages" asp-for="Languages" id="languages" multiple="multiple" asp-items="ViewBag.Languages">
							<optgroup label="Choose Language" style="color:darkcyan;">
							</optgroup>
						</select>
					</div>
					<div>
						<span asp-validation-for="Languages"></span>
					</div>
				</td>
				<td valign="top" height="300px">
					<div>
						<select name="genres" asp-for="Genres" id="genres" multiple="multiple" asp-items="ViewBag.Genres">
							<optgroup label="Choose Genre" style="color:darkcyan;">
							</optgroup>

						</select>
					</div>
					<div>
						<span asp-validation-for="Genres"></span>
					</div>
					<div>

						<select name="shelves" asp-for="Shelves" id="shelves" multiple="multiple" asp-items="ViewBag.Shelves">
							<optgroup label="Choose Shelf" style="color:darkcyan;">
							</optgroup>
						</select>
					</div>
					<div>
						<span asp-validation-for="Shelves"></span>
					</div>
					<div class="form-group mt-3">
						<label class="mr-2" style="color:darkcyan;">Upload Book Cover Photo:</label>
						<input type="file" name="file">
					</div>
					<div style="padding-top:33px">
						<button type="submit" id="submit">Save</button>
					</div>
				</td>
			</tr>
		</table>
	</form>

</main>

@section Scripts {
	<script src="~/js/book/addbook.js"></script>
}



