@model Library.Web.Models.Book.CreateBookViewModel

<nav>

	<h1 class="title" style="margin-left:100%">Books</h1>
	<a asp-action="AddBook"><i class="bi bi-plus-lg" style="color: #000; margin-left:250px; font-size: 40px"></i> </a>

</nav>


<main>
	<form method="post">
		<table>
			<tr>
				<td colspan="5">
					<input name="title" asp-for="Title" class="form-control" style="margin: 5px 0 5px 0" />
				</td>
				<td></td>
			</tr>
			<tr>
				<td valign="top" height="300px" width="320px">
					<div>
						<select name="authors" asp-for="Authors" id="authors" multiple="multiple" asp-items="ViewBag.Authors">
						</select>
					</div>
				</td>
			</tr>
		</table>
	</form>
</main>

<style>

	nav {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		gap: 50%;
		font-size: 20px;
		font-family: monospace;
	}

	.title {
		font-weight: 200;
	}

	form {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
	}

	input[type=text] {
		padding: 10px 5px 10px 10px;
		outline: none;
	}

	select {
		padding: 10px 90px 10px 10px;
		outline: none;
	}

	.enum {
		padding: 10px 90px 10px 10px;
	}

	button {
		padding: 11px 30px;
		background: #8b8b8b;
		color: #fff;
		border: none;
	}

	hr {
		padding-block: 1px;
		background: black;
	}

	.search {
		display: flex;
		flex-direction: column;
	}

	main {
		display: flex;
		flex-direction: row;
		flex-direction: column;
		align-items: center;
		margin-block: 41px;
		gap: 19px;
	}

		main div {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 10px;
		}

</style>


