@using Library.Model.Models;
@model Library.Web.Models.Account.RegisterViewModel

@{
	ViewBag.Title = "User Registration";
}

@{
	ViewData["Title"] = "View";
	// Layout = "~/Views/Account/Login.cshtml";
}

@section Scripts
{
	<link href="~/colorlib-regform-7/colorlib-regform-7/fonts/material-icon/css/material-design-iconic-font.css" rel="stylesheet" />
	<link href="~/colorlib-regform-7/colorlib-regform-7/fonts/material-icon/css/material-design-iconic-font.min.css" rel="stylesheet" />
	<link href="~/colorlib-regform-7/colorlib-regform-7/css/style.css" rel="stylesheet" />
	<script src="~/colorlib-regform-7/colorlib-regform-7/js/main.js"></script>

	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}

}


	<!-- Font Icon -->
	@*<link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">*@
	@*<link href="~/colorlib-regform-7/colorlib-regform-7/fonts/material-icon/css/material-design-iconic-font.css" rel="stylesheet" />*@
	@*<link href="~/colorlib-regform-7/colorlib-regform-7/fonts/material-icon/css/material-design-iconic-font.min.css" rel="stylesheet" />*@
	<!-- Main css -->
	@*<link rel="stylesheet" href="css/style.css">*@

	@*<link href="~/colorlib-regform-7/colorlib-regform-7/css/style.css" rel="stylesheet" />*@
	@*<a href="~/colorlib-regform-7/colorlib-regform-7/css/style.css.map">~/colorlib-regform-7/colorlib-regform-7/css/style.css.map</a>*@

	<div class="main">

		<!-- Sign up form -->
		<section class="signup">
			<div class="container">
				<div class="signup-content">
					<div class="signup-form">
						<h2 class="form-title">Sign up</h2>
						<form method="POST" class="register-form" id="register-form">
							<div style="max-width:1200px; margin:0 auto; padding: 10px;">
								<div class="container-fluid">

									<div class="row">
										<div class="col-md-6" style="float:left">
											<div class="form-group">
												<label for="FirstName"><i class="zmdi zmdi-account material-icons-name"></i></label>
												<input type="text" name="FirstName" id="FirstName" placeholder="Your First Name" />
												<span asp-validation-for="FirstName" class="text-danger"></span>
											</div>
											<div class="form-group">
												<label for="LastName"><i class="zmdi zmdi-account material-icons-name"></i></label>
												<input type="text" name="LastName" id="LastName" placeholder="Your Last Name" />
												<span asp-validation-for="LastName" class="text-danger"></span>
											</div>
											<div class="form-group">
												<label for="DOB"><i class="zmdi zmdi-calendar zmdi-calendar-check"></i></label>
												<input type="date" name="DOB" id="DOB" placeholder="Your day Of Birth" />
												<span asp-validation-for="DOB" class="text-danger"></span>
											</div>
											<div class="form-group">
												<label for="PersonalNumber"><i class="zmdi zmdi-card zmdi-card-membership"></i></label>
												<input type="text" name="PersonalNumber" id="PersonalNumber" placeholder="Your Personal Number" />
												<span asp-validation-for="PersonalNumber" class="text-danger"></span>
											</div>
											<div class="form-group">
												<label for="PassportNumber"><i class="zmdi zmdi-card zmdi-card-membership"></i></label>
												<input type="text" name="PassportNumber" id="PassportNumber" placeholder="Your Passport Number" />
												<span asp-validation-for="PassportNumber" class="text-danger"></span>
											</div>
											<div class="form-group">
												<label for="PhoneNumber"><i class="zmdi zmdi-phone zmdi-phone-ring"></i></label>
												<input type="tel" name="PhoneNumber" id="PhoneNumber" placeholder="Your Phone Number" />
												<span asp-validation-for="PhoneNumber" class="text-danger"></span>
											</div>
											<div class="form-group">
												<label for="Address"><i class="zmdi zmdi-home"></i></label>
												<input type="text" name="Address" id="Address" placeholder="Your Address" />
												<span asp-validation-for="Address" class="text-danger"></span>
											</div>
										</div>
										<div class="col-md-6" style="float:left">											
											<div class="container-fluid">
												<div class="row-cols-1">
													<div class="form-group">
														<label for="Gender" title="Gender">Gender</label>
													</div>
													<div class="form-group" style="display:inline">
														<label for="male"><i class="zmdi zmdi-male"></i></label>
														<input type="radio" id="male" name="Gender" value="true" checked>
													</div>
													<div class="form-group">
														<label for="female"><i class="zmdi zmdi-female"></i></label>
														<input type="radio" id="female" name="Gender" value="false">
													</div>
												</div>						
											</div>
											<div class="form-group">
												<label for="PersonalPhoto"><i class="zmdi zmdi-attachment"></i></label>
												<input type="image" name="PersonalPhoto" id="PersonalPhoto" placeholder="Personal Photo" />
												<span asp-validation-for="PersonalPhoto" class="text-danger"></span>
											</div>
											<div class="form-group">
												<label for="Email"><i class="zmdi zmdi-email"></i></label>
												<input type="email" name="Email" id="Email" placeholder="Your Email" />
												<span asp-validation-for="Email" class="text-danger"></span>

											</div>
											<div class="form-group">
												<label for="ConfirmEmail"><i class="zmdi zmdi-email"></i></label>
												<input type="email" name="ConfirmEmail" id="ConfirmEmail" placeholder="Your Confirm Email" />
											</div>
											<div class="form-group">
												<label for="pass"><i class="zmdi zmdi-lock"></i></label>
												<input type="password" name="pass" id="pass" placeholder="Password" />
											</div>
											<div class="form-group">
												<label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
												<input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password" />
											</div>
											<div class="form-group">
												<input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
												<label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
											</div>
											<div class="form-group form-button">
												<input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
											</div>
										</div>
									</div>
								</div>

							</div>
						</form>
					</div>
					<div class="signup-image">
						<figure><img src="~/colorlib-regform-7/colorlib-regform-7/images/signup-image.jpg" alt="sing up image"></figure>
						<a href="\Account\Login" class="signup-image-link">I am already member</a>
					</div>
				</div>
			</div>
		</section>
	</div>

	<!-- JS -->
	@*	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="js/main.js"></script>*@
    @*<script src="~/colorlib-regform-7/colorlib-regform-7/js/main.js"></script>*@




@*<h1>User Registration</h1>

<hr />
<div class="row">
	<div class="col-md-8">
		<form asp-action="View" method="post">
			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="col-md-4">
				<div class="row-cols-1">
					<div class="form-group">
						<label asp-for="FirstName" class="control-label"></label>
						<input asp-for="FirstName" class="form-control" />
						<span asp-validation-for="FirstName" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="LastName" class="control-label"></label>
						<input asp-for="LastName" class="form-control" />
						<span asp-validation-for="LastName" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="DOB" class="control-label"></label>
						<input asp-for="DOB" class="form-control" />
						<span asp-validation-for="DOB" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="PersonalNumber" class="control-label"></label>
						<input asp-for="PersonalNumber" class="form-control" />
						<span asp-validation-for="PersonalNumber" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="PassportNumber" class="control-label"></label>
						<input asp-for="PassportNumber" class="form-control" />
						<span asp-validation-for="PassportNumber" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="PhoneNumber" class="control-label"></label>
						<input asp-for="PhoneNumber" class="form-control" />
						<span asp-validation-for="PhoneNumber" class="text-danger"></span>
					</div>
				</div>
			</div>
			<div class="col-md-4">

				<div class="row-cols-1">

					<div class="form-group">
						<label asp-for="Address" class="control-label"></label>
						<input asp-for="Address" class="form-control" />
						<span asp-validation-for="Address" class="text-danger"></span>
					</div>
					<div class="col-form-label" id="UserGender" name="UserGender">
						<label asp-for="Gender" class="control-label"></label>

						@Html.DropDownListFor(u => u.Gender,new SelectList(Enum.GetValues(typeof(Gender)),
						"Select Gender"))
					</div>
					<div class="form-group">
						<label asp-for="PersonalPhoto" class="control-label"></label>
						<input asp-for="PersonalPhoto" class="form-control" />
						<span asp-validation-for="PersonalPhoto" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Email" class="control-label"></label>
						<input asp-for="Email" class="form-control" />
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="ConfirmEmail" class="control-label"></label>
						<input asp-for="ConfirmEmail" class="form-control" />
						<span asp-validation-for="ConfirmEmail" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Password" class="control-label"></label>
						<input asp-for="Password" class="form-control" />
						<span asp-validation-for="Password" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="ConfirmPassword" class="control-label"></label>
						<input asp-for="ConfirmPassword" class="form-control" />
						<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
					</div>
				</div>

				<button type="submit" class="btn btn-primary" style="margin-top:10px" asp-controller="Account" asp-action="Register">Register</button>
			</div>

		</form>
	</div>
</div>*@

<div>
	<a asp-action="Index">Back to List</a>
</div>


