@using Library.Model.Models;
@model Library.Web.Models.Account.RegisterViewModel 


@{
	ViewBag.Title = "User Registration";
	var positionLst = ViewBag.message;
}

@{
	ViewData["Title"] = "View";
	// Layout = "~/Views/Account/Login.cshtml";
}

@section Scripts
	{
	@*<link href="~/colorlib-regform-7/colorlib-regform-7/fonts/material-icon/css/material-design-iconic-font.css" rel="stylesheet" />*@
	@*<link href="~/colorlib-regform-7/colorlib-regform-7/fonts/material-icon/css/material-design-iconic-font.min.css" rel="stylesheet" />*@
	@*<link href="~/colorlib-regform-7/colorlib-regform-7/css/style.css" rel="stylesheet" />*@


	<script src="~/colorlib-regform-7/colorlib-regform-7/js/main.js"></script>
	@*	<script type="text/javascript" src="~/jquery-validate/jquery.validate.js"></script>
	<script type="text/javascript" src="~/jquery-validate/jquery.validate.min.js"></script>
	<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
	<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>*@
	<script src="~/js/site.js"></script>

	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}

<script type="text/javascript">
	//$(document).ready(function(){
	//	$("#staff").click(function(){
	//		if($("#staff").val() === true)
	//		 $("#positionsDiv").hide();

	//		 else
	//			$("#positionsDiv").show();

	//			//$(document).ready(function () {
	//			//	$("input[name$='cars']").click(function () {
	//			//		var test = $(this).val();

	//			//		$("div.desc").hide();
	//			//		$("#Cars" + test).show();
	//			//	});
	//			//});
			
	//			return false;
	//		}		
	//	});	
	//});

	//$(document).ready(function showPositionsDiv() {
	//	$('#positionsDiv').show();
	//	//document.getElementById('positionsDiv').style.display = 'none';
	//});

	//$(document).ready(function hidePositionsDiv() {
	//	$('#positionsDiv').hide();
	//	//document.getElementById('positionsDiv').style.display = 'block';
	//});

	//$("#staff").click(function(){

	//	alert("hello");
	//	$("#positionsDiv").hide();
	
	//});

	//$(document).ready(function () {
	//	$('input[type="radio"]').click(function () {
	//		//var inputValue = $(this).attr("value");
	//		// targetBox = $("." + inputValue);

	//		$("#positionsDiv").hide();

	//		//if ($("#staff").val() == true){
	//		//	$("#positionsDiv").hide();
	//		//}

	//		//else{
	//		//	$("#positionsDiv").show();
	//		//}
	//	});
	//});
</script>





<!-- Font Icon -->
@*<link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">*@
@*<link href="~/colorlib-regform-7/colorlib-regform-7/fonts/material-icon/css/material-design-iconic-font.css" rel="stylesheet" />*@
@*<link href="~/colorlib-regform-7/colorlib-regform-7/fonts/material-icon/css/material-design-iconic-font.min.css" rel="stylesheet" />*@
<!-- Main css -->
@*<link rel="stylesheet" href="css/style.css">*@

@*<link href="~/colorlib-regform-7/colorlib-regform-7/css/style.css" rel="stylesheet" />*@
@*<a href="~/colorlib-regform-7/colorlib-regform-7/css/style.css.map">~/colorlib-regform-7/colorlib-regform-7/css/style.css.map</a>*@
@*
<script type="text/javascript">

	$(document).ready(function () {
		$("#signup").click(function () {
			ValidatorForm();
		});
	});

	function ValidatorForm() {
		if ($("#first_name").val() == "") {
			alert("First Name should not be empty");
			return false;
		}
	}

	// Example starter JavaScript for disabling form submissions if there are invalid fields
	(() => {
		'use strict'

		// Fetch all the forms we want to apply custom Bootstrap validation styles to
		const forms = document.querySelectorAll('.needs-validation')

		// Loop over them and prevent submission
		Array.from(forms).forEach(form => {
			form.addEventListener('submit', event => {
				if (!form.checkValidity()) {
					event.preventDefault()
					event.stopPropagation()
				}

				form.classList.add('was-validated')
			}, false)
		})
	})()

</script>*@




@*New design*@


@*<section class="signup">
	<div class="container">
		<div class="signup-content">
			<div class="signup-form">
				<h2 class="form-title">Sign up</h2>
				<form class="register-form" id="register-form">
					<div style="max-width:1200px; margin:0 auto; padding: 10px;">
						<div class="row">
							<div class="col-md-6 " style="float:left">

								<div class="mb-3">
									<p>@ViewBag.ErrorMessage</p>
								</div>

								<div class="form-group">
									<label for="first_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
									<input id="first_name" type="text" asp-for="FirstName" class="form-control" name="first_name" placeholder="Your First Name">
									<span class="text-danger" asp-validation-for="FirstName"></span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 " style="float:left">

								<div class="form-group">
									<label for="last_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
									<input id="last_name" name="last_name" asp-for="LastName" type="text" placeholder="Your Last Name">
									<span class="text-danger" asp-validation-for="LastName"></span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 " style="float:left">
								<div class="form-group">
									<label for="DOB"><i class="zmdi zmdi-calendar zmdi-calendar-check"></i></label>
									<input type="date" name="DOB" id="dob" placeholder="Your day Of Birth" />
									<span class="text-danger" asp-validation-for="LastName"></span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group form-button">
								<input onclick="handlesave()" type="submit" name="submit" id="submit" class="form-submit" value="Register" />
								<a onclick="backtolist()" class="btn btn-danger">Cancel</a>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<link href="~/css/site.css" />
	<script src="~/js/jquery.min.js"></script>
	<script src="~/js/site.js"></script>

	<script type="text/javascript">
		function backtolist() {
			window.location.href = "/Account/Register";
		};

		function handlesave() {
			var fname = $('#first_name').val();
			var lname = $('#last_name').val();
			var dob = $('#dob').val();
		};

		// validation

		if (fname != '' && fname != null)
		{
			$('#first_name').css('border-color','#ccc');
		}
		else
		{
			$('#first_name').css('border-color', 'red');
		}


	</script>


</section>*@


@*End New Desing*@

@*<div class="main">

	<!-- Sign up form -->
	<section class="signup">
	<div class="container">
	<div class="signup-content">
	<div class="signup-form">
	<h2 class="form-title">Sign up</h2>
	<form method="POST" class="register-form" id="register-form">
	<div style="max-width:1200px; margin:0 auto; padding: 10px;">
	<div class="row">
	<div class="col-md-6 " style="float:left">

	<div class="mb-3">
	<p>@ViewBag.ErrorMessage</p>
	</div>

	<div class="form-group">
	<label for="first_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
	<input type="text" class="form-control" id="first_name" asp-for="FirstName" name="first_name" placeholder="Your First Name">
	<span class="text-danger" asp-validation-for="FirstName"></span>
	</div>

	@*							<div class="mb-3">
	<input type="text" class="form-control" input asp-for="FirstName" class="form-control"
	placeholder="First Name">
	<span class="text-danger" asp-validation-for="FirstName"></span>
	</div>*@

@*<div class="form-group">
	<label for="last_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
	<input id="last_name" name="last_name" asp-for="LastName" type="text"
	dataval="true" data-val-required="LastName is required" placeholder="Your Last Name">
	<small>Error Message</small>
	</div>
	<div class="form-group">
	<label for="DOB"><i class="zmdi zmdi-calendar zmdi-calendar-check"></i></label>
	<input type="date" name="DOB" id="DOB" placeholder="Your day Of Birth" />
	</div>
	<div class="form-group">
	<label for="PersonalNumber"><i class="zmdi zmdi-card zmdi-card-membership"></i></label>
	<input type="text" name="PersonalNumber" id="PersonalNumber" placeholder="Your Personal Number" />
	</div>
	<div class="form-group">
	<label for="PassportNumber"><i class="zmdi zmdi-card zmdi-card-membership"></i></label>
	<input type="text" name="PassportNumber" id="PassportNumber" placeholder="Your Passport Number" />
	</div>
	<div class="form-group">
	<label for="PhoneNumber"><i class="zmdi zmdi-phone zmdi-phone-ring"></i></label>
	<input type="tel" name="PhoneNumber" id="PhoneNumber" placeholder="Your Phone Number" />
	@*									</div>
	<div class="form-group">
	<label for="Address"><i class="zmdi zmdi-home"></i></label>
	<input type="text" name="Address" id="Address" placeholder="Your Address" />
	</div>
	</div>
	<div class="col-md-6" style="float:left">
	<div class="container-fluid">
	<div class="row-cols-1">
	@*<div class="form-group" style="width: 100px">
	<label for="Gender" title="Gender">Gender</label>
	</div>*@
@*											<div class="form-group">
	<label for="PersonalPhoto"><i class="zmdi zmdi-attachment"></i></label>
	<input type="image" name="PersonalPhoto" id="PersonalPhoto" placeholder="Personal Photo" />
	<span asp-validation-for="PersonalPhoto" class="text-danger"></span>
	</div>*@
@*<div class="form-group">
	<label for="Email"><i class="zmdi zmdi-email"></i></label>
	<input type="email" name="Email" id="Email" placeholder="Your Email" />
	<div class="form-group">
	<label for="Password"><i class="zmdi zmdi-lock"></i></label>
	<input type="password" name="Password" id="Password" placeholder="Password" />
	</div>
	<div class="form-group">
	<label for="ConfirmPassword"><i class="zmdi zmdi-lock-outline"></i></label>
	<input type="password" name="ConfirmPassword" id="ConfirmPassword" placeholder="Repeat your password" />
	</div>
	<div class="form-group">
	<input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
	<label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
	</div>
	<div class="form-group form-button">
	<input type="submit" name="submit" id="submit" class="form-submit" value="Register" />
	</div>
	</div>
	</div>
	</div>
	</form>
	</div>*@

<h1>User Registration</h1>
<hr />

<div>
	<div class="col-md-8">
		<form asp-action="View" method="post" id="register-form">
			<table width="1300px">
				<tr style="vertical-align:central">
					<td style="width:400px">
						<div id="left-side">
								<div class="form-group" style="display:inline; width: 100px">
									<label for="reader"><i class="zmdi zmdi-male">Reader</i></label>
								<input onclick="showHidePositions()" type="radio" id="reader"
									   name="staffReaderGroup" value="true">
								</div>
								<div class="form-group" style="display:inline; width: 100px; margin-left:50px">
									<label for="staff"><i class="zmdi zmdi-female">Staff</i></label>
								<input onclick="showHidePositions()" type="radio" id="staff"
									   name="staffReaderGroup" value="false" checked>
								</div>
								<div style="margin: 10px 0 10px 0" id="positionsDiv">
									<select asp-for="Position" asp-items="@(new SelectList(positionLst))" id="positions" name="positions" style="width:208px">

									</select>
								</div>
								<div class="form-group">
									<label asp-for="FirstName" class="control-label"></label>
									<input asp-for="FirstName" class="form-control" style="width: fit-content" />
									<span asp-validation-for="FirstName" class="text-danger"></span>
								</div>
								<div class="form-group">
									<label asp-for="LastName" class="control-label"></label>
									<input asp-for="LastName" class="form-control" style="width: fit-content" />
									<span asp-validation-for="LastName" class="text-danger" style="width:max-content"></span>
								</div>
								<div class="form-group">
									<label asp-for="DOB" class="control-label"></label>
									<input asp-for="DOB" class="form-control" style="width: 206px" />
									<span asp-validation-for="DOB" class="text-danger" style="width: max-content"></span>
								</div>
								<div class="form-group">
									<label asp-for="PersonalNumber" class="control-label"></label>
									<input asp-for="PersonalNumber" class="form-control" style="width: fit-content" />
									<span asp-validation-for="PersonalNumber" class="text-danger" style="width: fit-content"></span>
								</div>
								<div class="form-group">
									<label asp-for="PassportNumber" class="control-label"></label>
									<input asp-for="PassportNumber" class="form-control" style="width: fit-content" />
									<span asp-validation-for="PassportNumber" class="text-danger" style="width: fit-content"></span>
								</div>
								<div class="form-group">
									<label asp-for="PhoneNumber" class="control-label"></label>
									<input asp-for="PhoneNumber" class="form-control" style="width: fit-content" />
									<span asp-validation-for="PhoneNumber" class="text-danger" style="width: fit-content"></span>
								</div>

						</div>

					</td>
					<td width=400px>
	<div id="right-side">
		<div class="row-cols-1">

			<table>
				<tr>
					<td>
						<div class="form-group">
							<label asp-for="Address" class="control-label"></label>
							<input asp-for="Address" class="form-control" style="width: fit-content" />
							<span asp-validation-for="Address" class="text-danger" style="width: fit-content"></span>
						</div>
					</td>
					<td>
						<div class="form-group" style="display:inline; width: 100px">
							<label for="male"><i class="zmdi zmdi-male">male</i></label>
							<input type="radio" id="male" name="genderGroup" value="true" checked>
						</div>
					</td>
					<td>
						<div class="form-group" style="display:inline; width: 100px">
							<label for="female"><i class="zmdi zmdi-female">female</i></label>
							<input type="radio" id="female" name="genderGroup" value="false">
						</div>
					</td>
				</tr>
			</table>
								@*

			<div class="form-group">
			<label asp-for="PersonalPhoto" class="control-label"></label>
			<input asp-for="PersonalPhoto" class="form-control" />
			<span asp-validation-for="PersonalPhoto" class="text-danger"></span>
			</div>*@
			<div class="form-group">
				<label asp-for="Email" class="control-label"></label>
				<input asp-for="Email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ConfirmEmail" class="control-label"></label>
				<input asp-for="ConfirmEmail" class="form-control" />
				<span asp-validation-for="ConfirmEmail" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Password" class="control-label"></label>
				<input asp-for="Password" class="form-control" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ConfirmPassword" class="control-label"></label>
				<input asp-for="ConfirmPassword" class="form-control" />
				<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			</div>
		</div>
		<button type="submit" class="btn btn-primary" style="margin-top:20px" asp-controller="Account" asp-action="Register">Register</button>
	</div>
</td>
					<td align="center">
	<div>
		<figure><img src="~/colorlib-regform-7/colorlib-regform-7/images/signup-image.jpg" alt="sing up image"></figure>
		<a href="\Account\Login" class="signup-image-link">I am already member</a>
	</div>
</td>
				</tr>
			</table>
			<div id="register-div">
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>



