@using Library.Model.Models;
@model Library.Web.Models.Account.RegisterViewModel


@{
	ViewBag.Title = "User Registration";
	var positionLst = ViewBag.message;
}

@{
	ViewData["Title"] = "View";
	// Layout = "~/Views/Account/Login.cshtml";
}

@section Scripts
{
	@*<link href="~/colorlib-regform-7/colorlib-regform-7/fonts/material-icon/css/material-design-iconic-font.css" rel="stylesheet" />*@
	@*<link href="~/colorlib-regform-7/colorlib-regform-7/fonts/material-icon/css/material-design-iconic-font.min.css" rel="stylesheet" />*@
	@*<link href="~/colorlib-regform-7/colorlib-regform-7/css/style.css" rel="stylesheet" />*@


	<script src="~/colorlib-regform-7/colorlib-regform-7/js/main.js"></script>
	@*	<script type="text/javascript" src="~/jquery-validate/jquery.validate.js"></script>
	<script type="text/javascript" src="~/jquery-validate/jquery.validate.min.js"></script>
	<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
	<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>*@


	@*<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />*@
	@*<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet" />
	*@

	<link href="~/css/register.css" rel="stylesheet" type="text/css"/>
	<script src="~/js/register.js"></script>

	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}


<br />
<h3>User Registration</h3>
<hr />

<div>
	<div class="col-md-8">
		<form asp-action="View" method="post" id="register-form">
			<table width="1300px">
				<tr style="vertical-align:central">
					<td style="width:400px">
						<div id="left-side" >
							<div class="form-group" style="display:inline; width: 100px">
								<label for="reader"><i class="zmdi zmdi-male">Reader</i></label>

								<input onclick="showHidePositions()" type="radio" id="reader"
									   name="staffReaderGroup" value="true">
							</div>
							<div class="form-group" style="display:inline; width: 100px; margin-left:50px">
								<label for="staff"><i class="zmdi zmdi-female">Staff</i></label>

								<input onclick="showHidePositions()" type="radio" id="staff"
									   name="staffReaderGroup" value="false" checked>
							</div>
							<div id="positionsDiv" class="form-left-row-style">
								@Html.DropDownListFor(x=>x.PositionId, new SelectList(ViewBag.Positions, "Value", "Text"), new { @class="form-control"})
								<span asp-validator-for="Positions" class="text-danger"></span>
							</div>
							<div>
								<input asp-for="FirstName" class="form-control form-left-row-style" placeholder="first name" id="firstName" onkeyup="allowFirstName('firstName')" />
								<span asp-validation-for="FirstName" class="text-danger" id="firstNameError"></span>
							</div>
							<div>
								<input asp-for="LastName" class="form-control form-left-row-style" placeholder="last name" id="lastName" onkeyup="allowLastName('lastName')" />
								<span asp-validation-for="LastName" class="text-danger" style="width:max-content" id="lastNameError"></span>
							</div>
							<div>
								<input type = "date" asp-for="DOB" id="datepicker" class="form-control form-left-row-style" onload="setDatePickerFormat()" />
								<span asp-validation-for="DOB" class="text-danger"></span>
							</div>
							<div>
								<input asp-for="PersonalNumber" placeholder="personal id" class="form-control form-left-row-style" />
							</div>
							<div>
								<input asp-for="PassportNumber" placeholder="passport number" class="form-control form-left-row-style"/>
							</div>
							<div>
								<input type="tel" asp-for="PhoneNumber" id="phone" name="phone" placeholder="(+995)123456" pattern="(+995)[0-9]{2}[0-9]{2}[0-9]{2}"
									   class="form-control form-left-row-style" onkeyup="allowNumbers()" />
								<span asp-validation-for="PhoneNumber" class = "text-danger" style="width: fit-content" id="phoneError"></span>
							</div>
						</div>
					</td>
					<td width=400px>
						<div id="right-side" class="form-right-row-style">
							<div class="row-cols-1">
								<table>
									<tr>
										<td>
											<div>
												<input placeholder="enter your address"
													   class="form-control" asp-for="Address" style="width: 250px" />													   
												<span asp-validation-for="Address" class="text-danger" style="width: fit-content"></span>
											</div>
										</td>
										<td>
											<div class="form-group" style="display:inline; width: 100px">
												<label for="male"><i class="zmdi zmdi-male">male</i></label>
												<input type="radio" id="male" name="genderGroup" value="true" checked>
											</div>
										</td>
										<td>
											<div class="form-group" style="display:inline; width: 100px">
												<label for="female"><i class="zmdi zmdi-female">female</i></label>
												<input type="radio" id="female" name="genderGroup" value="false">
											</div>
										</td>
									</tr>
								</table>							
@*
								<div class="form-group">
								<input asp-for="PersonalPhoto" class="form-control" />
								<span asp-validation-for="PersonalPhoto" class="text-danger"></span>
								</div>*@
								<div>
									<input asp-for="Email" placeholder="enter your email" class="form-control form-right-row-style" onkeyup="allowEmail()" id="email" name="email"/>
									<span asp-validation-for="Email" class="text-danger" id="emailError"></span>
								</div>
								<div>
									<input asp-for="ConfirmEmail" placeholder="confirm email" class="form-control form-right-row-style" />
									<span asp-validation-for="ConfirmEmail" class="text-danger"></span>
								</div>

								<div>
									<input asp-for="Password" type="password" id="pass" name="pass" placeholder="password" onkeyup="validate_password()" class="form-control form-right-row-style" required"" />
									<span asp-validation-for="Password" class="text-danger" id="passError"></span>
								</div>
								<div>
									<input asp-for="ConfirmPassword" id="confirm_pass" name="confirm-pass" placeholder="confirm password" onkeyup="validate_confirm_password()" class="form-control form-right-row-style" required />
									<span asp-validation-for="ConfirmPassword" class="text-danger" id="wrong_pass_alert"></span>
								</div>
									<button type="submit" class="btn btn-primary" asp-controller="Account" asp-action="Register">Register</button>
							</div>
						</div>
					</td>
					<td align="center">
						<div>
							<figure><img src="~/colorlib-regform-7/colorlib-regform-7/images/signup-image.jpg" alt="sing up image"></figure>
							<a href="\Account\Login" class="signup-image-link">I am already member</a>
						</div>
					</td>
				</tr>
			</table>
			<div id="register-div">
			</div>
		</form>

		<script type="text/javascript">
			$(document).ready(function () {
				$(".third-phone").inputmask("+99-9999999999");
			});	

		</script>
	</div>
</div>



