@model Library.Web.Models.Account.ResetPasswordViewModel

@{
    ViewData["Title"] = "Email Reset";
    var token = Model.Token;
}

<form method="post" >
	<div class="container">
		<div class="row">
			<div>
				<div class="card my-5">
					<div class="card-body cardbody-color p-lg-5">
						<div class="mb-3">
							<p>@ViewBag.ErrorMessage</p>
						</div>
						<div class="form-group" style="width:225px; margin: 10px 0 10px 0" hidden>
							<input asp-for="Token" class="form-control" style="margin: 5px 0 5px 0" />
						</div>
						<div class="form-group" style="width:225px; margin: 10px 0 10px 0">
							<label asp-for="Password" class="control-label"></label>
							<input asp-for="Password" class="form-control" style="margin: 5px 0 5px 0" />
							<span asp-validation-for="Password" class="text-danger"></span>
						</div>
						<div class="form-group" style="width:225px; margin: 10px 0 10px 0">
							<label asp-for="ConfirmPassword" class="control-label"></label>
							<input asp-for="ConfirmPassword" class="form-control" style="margin: 5px 0 5px 0" />
							<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
						</div>
						<div class="form-group" style="margin: 10px 0 10px 0; width:250px">

							@*@{
								ViewData["test"] = Model;
							}

							@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, ViewData["test"]))
							{
								<!-- your other input form elements goes here -->
								@Html.HiddenFor(x=> x.Token)
								;
								@Html.TextBoxFor(x => x.Password)
								;
								@Html.TextBoxFor(x => x.ConfirmPassword)
								;

								<button id="resetPassword" type="submit" name="resetPassword" class="btn btn-success">
									Save
								</button>
							}*@

							@*<button asp-controller="Account" asp-action="ResetPassword" type="submit" class="btn btn-primary" style="width:100px; background-color:cadetblue">Save</button>*@
							<button type="submit" class="btn btn-primary" asp-controller="Account" asp-action="ResetPassword">Save</button>
							
@*							<input type="submit" value="Save" class="btn btn-success" style="width:227px; background-color:cadetblue"
							asp-controller="Account" asp-action="ConfirmResetPassword" />*@

							<input type="submit" value="Cancel" class="btn btn-secondary" style="width:100px; margin-left:21px" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</form>
